* {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.btn-primary {
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}

.banner {
    display: flex;
    margin: 50px 100px;
    align-items: center;
    justify-content: space-between;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-size: 700px 518px, 90px 500px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/*about, section, title*/

.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}

.section-description {
    width: 827px;
    height: 120px;
    left: 386px;
    top: 1176px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */


    /* Dark 03 */

    color: #757575;
    margin-bottom: 30px;
}

.about-info-title {
    display: flex;
    justify-content: space-between;
}

.info-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}

.info-description {
    width: 200px;
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

.what-do {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: space-around;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.skill-description {

    width: 201px;
    height: 196px;
    left: 845px;
    top: 2016px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}